@font-face {
  font-family: "YoungSerif";
  src: url("../font/YoungSerif-Regular.ttf") format("woff2");
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Define a background image for the whole page */
body {
  font-family: "YoungSerif";
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
}

#header {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-image: url("../img/alaska1.jpg"); /* Add your header background image */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 250px 0;
}

.header-content {
  display: inline-block;
  padding: 20px;
}

.header-title {
  font-size: 8em;
  color: yellow;
  margin: 0;
}

.header-subtitle {
  font-size: 2em;
  color: #fff;
  margin: 0;
}

#about {
  background-image: url("../img/alaska2.jpg"); /* Add your background image */
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 250px;
}

.about-header {
  flex: 1;
  text-align: left;
}

.about-header h1 {
  font-size: 5em; /* Adjust the size as needed */
  color: yellow;
}

.about-content {
  flex: 1;
  text-align: center;
}

.about-content p {
  font-size: 1.5em; /* Adjust the size as needed */
  color: #fff; /* Text color */
  background-color: rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Style the content sections */
section {
  padding: 20px;
}

h1,
h2,
h3 {
  color: yellow;
}

p {
  color: white;
}

/* Style the social media icons */
.social-icons {
  list-style-type: none;
}

.social-icons li {
  display: inline;
  margin-right: 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

/* Add styles for the dropdown arrow */
.dropdown-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.arrow-icon {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid yellow;
  cursor: pointer;
}

/* Smooth scrolling effect for the anchor link */
html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  /* Add your mobile styles here */
  body {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  #header {
    padding: 100px 0; /* Adjust header padding */
  }
  .header-content {
    padding: 10px; /* Adjust header content padding */
  }
  .header-title {
    font-size: 3em; /* Adjust font size for smaller screens */
  }
  .header-subtitle {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
  /* Continue with other styles as needed */
}
