@font-face {
  font-family: "YoungSerif";
  src: url("../font/YoungSerif-Regular.ttf"); /* Custom font */
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "YoungSerif";
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
}

#header {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-image: url("../img/alaska4.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 250px 0;
}

.header-content {
  display: inline-block;
  padding: 20px;
}

.header-title {
  font-size: 8em;
  color: yellow;
  margin: 0;
}

.header-subtitle {
  font-size: 2em;
  color: #fff;
  margin: 0;
}

#about {
  background-image: url("../img/alaska3.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 250px;
}

.about-header {
  flex: 1;
  text-align: left;
}

.about-header h1 {
  font-size: 5em;
  color: yellow;
}

.about-content {
  flex: 1;
  text-align: center;
}

.about-content p {
  font-size: 1.5em;
  color: #fff;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Style the content sections */
section {
  padding: 20px;
}

h1,
h2,
h3 {
  color: yellow;
}

p {
  color: white;
}

.social-icons {
  list-style-type: none;
}

.social-icons li {
  display: inline;
  margin-right: 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.dropdown-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.arrow-icon {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid yellow;
  cursor: pointer;
}

/* Smooth scrolling effect for the anchor link */
html {
  scroll-behavior: smooth;
}

#explore {
  background-image: url("../img/ice\ cave.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 200px 0;
}

h2 {
  font-size: 50px;
}

.image-card img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 100px;
  font-size: 20px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.image-card {
  position: relative;
  flex: 1;
  margin: 0 10px;
}

.read-more-button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  cursor: pointer;
}

#anchorage {
  background-image: url("../img/alaska1.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px;
  display: flex;
}

#anchorage h2 {
  font-size: 70px;
  text-align: left;
  color: yellow;
  flex: 1;
}

#anchorage .content {
  flex: 1;
  padding: 30px;
}

#anchorage h3 {
  font-size: 30px;
  text-align: right;
}

#anchorage p {
  font-size: 18px;
  text-align: right;
}

.feature-section {
  background-image: url("../img/alaska7.jpg");
  background-size: cover;
  background-position: center;
  padding: 400px 0;
}

.feature-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature {
  text-align: center;
  width: 30%;
  padding: 20px;
}

.circle {
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.yellow-header {
  color: yellow;
  font-size: 80px;
}

.white-paragraph {
  color: white;
  padding-top: 10px;
  font-size: 15px;
}

.customer-review-section {
  background-image: url("../img/alaska5.jpg");
  background-size: cover;
  background-position: center;
  padding: 250px;
  text-align: center;
  color: white;
}

.customer-review-content {
  padding: 20px;
}

.customer-logo {
  max-width: 200px;
}

.review-paragraph {
  font-size: 20px;
  margin: 20px 0;
}

.customer-name {
  font-size: 22px;
}

.dropdown-arrow {
  margin-top: 20px;
}

.dropdown-arrow a {
  text-decoration: none;
  color: yellow;
}

.contact-section {
  display: flex;
  background-image: url("../img/alaska6.jpg");
  background-size: cover;
  background-position: center;
  padding: 300px;
}

.contact-info {
  flex: 1;
  padding: 20px;
}

.contact-form {
  flex: 1;
  padding: 200px;
  color: white;
}

.header-text {
  font-size: 50px;
}

.paragraph-text {
  font-size: 20px;
}

.yellow-button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }
  #header {
    padding: 100px 0;
  }
  .header-content {
    padding: 10px;
  }
  .header-title {
    font-size: 3em; /* Adjust font size */
  }
  .header-subtitle {
    font-size: 1.5em;
  }
  #about {
    padding: 30px 0; /* Adjust padding for the "about" section */
  }
  .about-container {
    flex-direction: column;
    padding: 20px;
  }
  .about-header h1 {
    font-size: 3em;
  }
  .about-content p {
    font-size: 1.2em; /* Adjust font size for "about" content */
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .social-icons li {
    margin-right: 5px;
  }
  .arrow-icon {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid yellow;
  }
  #anchorage {
    padding: 40px;
  }
  #anchorage h2 {
    font-size: 1.5em;
    text-align: center;
  }
  #anchorage .content {
    padding: 10px;
  }
  #anchorage h3 {
    font-size: 1em; /* Adjust font size for "anchorage" h3 */
    text-align: center; /* Center align the h3 text */
  }
  #anchorage p {
    font-size: 0.5em; /* Adjust font size for "anchorage" p text */
    text-align: center; /* Center align the p text */
  }
  .feature-section {
    padding: 200px 0;
  }
  .feature-container {
    flex-direction: column;
    align-items: center;
  }
  .feature {
    width: 50%;
    margin: 10px 0;
  }
  .circle {
    width: 200px; /* Reduce the circle size */
    height: 200px;
  }
  .yellow-header {
    font-size: 50px; /* Decrease font size */
  }
  .white-paragraph {
    font-size: 15px; /* Decrease font size */
  }
  .customer-review-section {
    padding: 100px;
  }
  .customer-review-content {
    padding: 10px;
  }
  .customer-logo {
    max-width: 100px;
  }
  .review-paragraph {
    font-size: 12px; /* Adjust font size */
  }
  .customer-name {
    font-size: 14px; /* Adjust font size */
  }
  .dropdown-arrow {
    margin-top: 10px;
  }
  .contact-section {
    padding: 25px;
  }
  .contact-info {
    padding: 5px;
  }
  .social-icons img {
    width: 20px;
    height: 20px;
  }
  .contact-form {
    padding: 5px;
  }
  .header-text {
    font-size: 20px; /* Decrease font size */
  }
  .paragraph-text {
    font-size: 15px; /* Decrease font size */
  }
  .yellow-button {
    font-size: 10px; /* Decrease font size */
  }
}
